body {
    background-color: #add8e6;
    min-width: 960px;
    margin: 0;
}

h1 {
    font-size: 14px;
    color: #583822;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.link_img {
    float: left;
    margin: 0;
    padding: 0;
}

header div {
    width: 960px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;
    background-color: #ffffff;
    border-bottom:solid 1px #cccccc;
    width: 100%;
}

header ul {
    display: flex;
    width: 960px;
}

header a {
    padding: 0;
    margin: 0;
    border-bottom: none;
    display: block;
}

.header_image {
    width: 960px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 15px;
}

header ul li {
    color: #583822;
    border-left: solid 1px #d3d3d3;
    padding-bottom: 0;
    width: 20%;
    border-bottom: none;
}

.header_menu {
    border-left: none;
}

form {
    margin: 0;
    float: right;
}

nav {
    margin: 0;
    width: 180px;
    float: left;
}

nav ul {
    padding-bottom: 1px;
    display: flex;
    flex-flow: column;
}

nav li {
    border-bottom: dotted 1px #cccccc;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav a {
    padding-left: 18px;
    display: block;
}

nav div {
    margin-bottom: 20px;
    padding-top: 2px;
    background-color: #ffffff;
}

.nav_bottom {
    border-bottom: none;
}

article {
    margin: 0;
    width: 625px;
    float: left;
}

figure {
    margin: 3px 3px;
    width: 20%;
}

figcaption {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -10px;
}

.new_recipe_section {
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.article_div_new {
    text-align: center;
    display: flex;
}

.new_recipe_1 {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}

.new_recipe_2 {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}

.new_recipe_3 {
    font-size: 10px;    
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}

.new_recipe_4 {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}

.new_recipe_5 {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}


.new_recipe_a {
    font-size: 9px;
}

.text-align-right {
    text-align: right;
}

section {
    padding: 2px;
    margin: 0;
    margin: 20px;
    background-color: #ffffff;
}

h2 {
    margin: 0;
    padding: 0;
    border-radius:20px/20px;
    background-color: #9acd32;
    padding-left: 30px;
    color: #ffffff;
    font-size: 18px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.article_section_1_img {
    float: left;
    margin-left: 10px;
}

.article_section_div_1 {
    float: right;
    width: 330px;
}

.article_section_div_2-1 {
    float: right;
    width: 330px;
}

.article_section_div_2-2 {
    float: right;
    width: 330px;
}


h3 {
    margin: 0;
    color: #99bb22;
}

.spring_img {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

main {
    width:960px;
    margin: 0 auto;
}

main div ul {
    text-align: left;
}

aside {
    margin: 0;
    display: flex;
    flex-direction: column;
}

aside a {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    float: right;
    display: block;
}

.aside_image {
    margin: 0;
    padding: 0;
    float: right;
}

footer {
    margin: 0;
    background-color: #ffffff;
    clear: both;
    width: 100%;
    text-align: center;
    border-top: solid 1px #cccccc;
}

footer div {
    margin:0 auto;
    width: 583px;
}

footer div ul {
    display: flex;
    width: 100%;
}

footer div ul li {
    width: 25%;
    text-align: center;
}

footer div a {
    margin-top: 5px;
    font-size: 14px;
    border-left: solid 1px #d3d3d3;
    display: block;
    font-size: 12px;
}

.footer_border {
    border-left: none;
}

.copyright {
    color: #cccccc;
    font-size: 12px;
}

img {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

li {
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.arrow_img {
    background-image: url(./images/icon/arrow.png);
    background-repeat: no-repeat;
    background-position: left 1px bottom 9px;
}

.dish_img {
    background-image: url(./images/icon/dish.png);
    background-repeat: no-repeat;
    background-position:left 10px center;
    padding:3px 0px 2px 30px;
    margin: 5px;
}

.article_arrow_img {
    background-image: url(./images/icon/arrow.png);
    background-repeat: no-repeat;
    background-position: left 1px bottom 6px;
}

.continue {
    float: right;
    padding-left: 20px;
    margin-right: 10px;
    color: #fc8833;
}
